# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    defaults:
      run:
        shell: bash -l {0}
  
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
#           - macos-latest
#           - windows-latest
    steps:
      - name: Checkout repository and submodules
        uses: actions/checkout@v3
    
      - name: Set up Python 3.9
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"
         
      - name: Prepare Linux
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt-get install -y \
              libgl1-mesa-dev \
              libgl1-mesa-glx \
              libglew-dev \
              libosmesa6 \
              libosmesa6-dev \
              software-properties-common
          sudo apt-get install -y patchelf
          sudo apt-get install -y xvfb x11-xserver-utils
          sudo apt-get install -y xvfb libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0 libxcb-xinput0 libxcb-xfixes0
          sudo /usr/bin/Xvfb $DISPLAY -screen 0 1280x1024x24 &


#       - name: "Setup env vars: osmesa"
#         run: echo "Test osmesa"
#         env:
#           MUJOCO_GL: osmesa

#       - name: "Setup env vars: EGL"
#         run: echo "Test EGL"
#         env:
#           MUJOCO_GL: EGL
#       - name: Prepare Linux
#         run: |
#           sh add_video.sh

      - name: Install mujoco and test rendering
        run: |
          pip install mujoco
          python -m mujoco.render_test
